__pycache__/
.DS_Store
*.pyc
ckpt/
plots/
datasets/
.vscode/
.ipynb_checkpoints/
*.egg-info/
*.csv
*.json
*.npy
*.pkl
*.pt
logs/
experiments/lsm_paper/MNIST/
experiments/lsm_paper/figures/
experiments/lsm_paper/eval_mapper_old.py
MNIST/
experiments/params2feats_paper/checkpoints/
experiments/params2feats_paper/embeddings/
experiments/params2feats_paper/audio/
experiments/lsm_paper/dev.ipynb
rendered_plate_views/
*.ts
*.min.js
sonification/models/layers_old.py
sonification/models/models_old.py