__pycache__/
.DS_Store
*.pyc
ckpt/
plots/
datasets/
.vscode/
.ipynb_checkpoints/
*.egg-info/
*.csv
*.json
*.npy
*.pkl
*.pt
logs/
experiments/lsm_paper/MNIST/
MNIST/
experiments/params2feats_paper/checkpoints/
experiments/params2feats_paper/embeddings/
experiments/params2feats_paper/audio/